* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1f2937;
    font-style: Roboto;
    padding: 20px 300px;
    padding-bottom: 175px;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}
a, .header-logo {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
}
.right-margin {
    margin-left: auto;
}
.main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}
.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 25px;
}
.hero-img {
    background-color: gray;
    width: 600px;
    height: 300px;
}
.hero-description {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero {
    margin-top: 150px;
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
}
.sign-up {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px 25px;
    border-radius: 8px;
    margin-top: 15px;
}
.cta-heading {
    font-weight: bold;
    font-size: 32px;
    margin: auto;
    padding: 40px 0;
}
.call-to-action {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.tiles {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.cta-img {
    /* height: 200px; */
    /* width: 200px; */
    border: 1px solid #3882F6;
    border-radius: 10px;
}
.cta-text {
    text-align: center;
}
.tile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 150px;
}
img {
    height: 200px;
    border: 1px solid #3882F6;
    border-radius: 10px;
}

@media (max-width: 1100px) {
    .call-to-action {
        display: flex;
        flex-direction: column;
        min-width: 600px;
    }
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }
    .tiles {
        flex-wrap: nowrap;
        display: block;
        margin: auto;
    }
    ul {
        flex-direction: column;
    }
    nav {
        /* min-width: 600px; */
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .right-margin {
        margin-left: 0;
    }
   
}